/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.whop.api.resources.socialaccounts.requests;

import com.fasterxml.jackson.annotation.JsonAnyGetter;
import com.fasterxml.jackson.annotation.JsonAnySetter;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonSetter;
import com.fasterxml.jackson.annotation.Nulls;
import com.fasterxml.jackson.databind.annotation.JsonDeserialize;
import com.whop.api.core.ObjectMappers;
import com.whop.api.resources.socialaccounts.types.CreateSocialAccountsRequestPlatform;
import java.util.HashMap;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import org.jetbrains.annotations.NotNull;

@JsonInclude(JsonInclude.Include.NON_ABSENT)
@JsonDeserialize(builder = CreateSocialAccountsRequest.Builder.class)
public final class CreateSocialAccountsRequest {
    private final Optional<String> accountId;

    private final CreateSocialAccountsRequestPlatform platform;

    private final Map<String, Object> additionalProperties;

    private CreateSocialAccountsRequest(
            Optional<String> accountId,
            CreateSocialAccountsRequestPlatform platform,
            Map<String, Object> additionalProperties) {
        this.accountId = accountId;
        this.platform = platform;
        this.additionalProperties = additionalProperties;
    }

    /**
     * @return The Account (biz_ identifier) to create the social account for. An account-scoped API key may omit this to default to its own account. Account API keys cannot update their own account's branding through Update Account; use a user-authenticated path.
     */
    @JsonProperty("account_id")
    public Optional<String> getAccountId() {
        return accountId;
    }

    /**
     * @return The platform to create the social account on. <code>facebook</code> requires the account's <code>banner_image</code>, <code>logo</code>, and <code>description</code>; configure them with <a href="/api-reference/beta/accounts/update-account">Update Account</a>.
     */
    @JsonProperty("platform")
    public CreateSocialAccountsRequestPlatform getPlatform() {
        return platform;
    }

    @java.lang.Override
    public boolean equals(Object other) {
        if (this == other) return true;
        return other instanceof CreateSocialAccountsRequest && equalTo((CreateSocialAccountsRequest) other);
    }

    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    private boolean equalTo(CreateSocialAccountsRequest other) {
        return accountId.equals(other.accountId) && platform.equals(other.platform);
    }

    @java.lang.Override
    public int hashCode() {
        return Objects.hash(this.accountId, this.platform);
    }

    @java.lang.Override
    public String toString() {
        return ObjectMappers.stringify(this);
    }

    public static PlatformStage builder() {
        return new Builder();
    }

    public interface PlatformStage {
        /**
         * <p>The platform to create the social account on. <code>facebook</code> requires the account's <code>banner_image</code>, <code>logo</code>, and <code>description</code>; configure them with <a href="/api-reference/beta/accounts/update-account">Update Account</a>.</p>
         */
        _FinalStage platform(@NotNull CreateSocialAccountsRequestPlatform platform);

        Builder from(CreateSocialAccountsRequest other);
    }

    public interface _FinalStage {
        CreateSocialAccountsRequest build();

        _FinalStage additionalProperty(String key, Object value);

        _FinalStage additionalProperties(Map<String, Object> additionalProperties);

        /**
         * <p>The Account (biz_ identifier) to create the social account for. An account-scoped API key may omit this to default to its own account. Account API keys cannot update their own account's branding through Update Account; use a user-authenticated path.</p>
         */
        _FinalStage accountId(Optional<String> accountId);

        _FinalStage accountId(String accountId);
    }

    @JsonIgnoreProperties(ignoreUnknown = true)
    public static final class Builder implements PlatformStage, _FinalStage {
        private CreateSocialAccountsRequestPlatform platform;

        private Optional<String> accountId = Optional.empty();

        @JsonAnySetter
        private Map<String, Object> additionalProperties = new HashMap<>();

        private Builder() {}

        @java.lang.Override
        public Builder from(CreateSocialAccountsRequest other) {
            accountId(other.getAccountId());
            platform(other.getPlatform());
            return this;
        }

        /**
         * <p>The platform to create the social account on. <code>facebook</code> requires the account's <code>banner_image</code>, <code>logo</code>, and <code>description</code>; configure them with <a href="/api-reference/beta/accounts/update-account">Update Account</a>.</p>
         * <p>The platform to create the social account on. <code>facebook</code> requires the account's <code>banner_image</code>, <code>logo</code>, and <code>description</code>; configure them with <a href="/api-reference/beta/accounts/update-account">Update Account</a>.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        @JsonSetter("platform")
        public _FinalStage platform(@NotNull CreateSocialAccountsRequestPlatform platform) {
            this.platform = Objects.requireNonNull(platform, "platform must not be null");
            return this;
        }

        /**
         * <p>The Account (biz_ identifier) to create the social account for. An account-scoped API key may omit this to default to its own account. Account API keys cannot update their own account's branding through Update Account; use a user-authenticated path.</p>
         * @return Reference to {@code this} so that method calls can be chained together.
         */
        @java.lang.Override
        public _FinalStage accountId(String accountId) {
            this.accountId = Optional.ofNullable(accountId);
            return this;
        }

        /**
         * <p>The Account (biz_ identifier) to create the social account for. An account-scoped API key may omit this to default to its own account. Account API keys cannot update their own account's branding through Update Account; use a user-authenticated path.</p>
         */
        @java.lang.Override
        @JsonSetter(value = "account_id", nulls = Nulls.SKIP)
        public _FinalStage accountId(Optional<String> accountId) {
            this.accountId = accountId;
            return this;
        }

        @java.lang.Override
        public CreateSocialAccountsRequest build() {
            return new CreateSocialAccountsRequest(accountId, platform, additionalProperties);
        }

        @java.lang.Override
        public Builder additionalProperty(String key, Object value) {
            this.additionalProperties.put(key, value);
            return this;
        }

        @java.lang.Override
        public Builder additionalProperties(Map<String, Object> additionalProperties) {
            this.additionalProperties.putAll(additionalProperties);
            return this;
        }
    }
}
